<launch>
  <rosparam file="$(find color_detection)/config/colorDetectionParams.yaml" command="load" />
  <rosparam file="$(find color_detection)/config/purpleParams.yaml" command="load" />
  <rosparam file="$(find color_detection)/config/orangeParams.yaml" command="load" />
  <rosparam file="$(find color_detection)/config/blueParams.yaml" command="load" />
  <rosparam file="$(find color_detection)/config/greenParams.yaml" command="load" />
  <rosparam file="$(find color_detection)/config/redParams.yaml" command="load" />
  <rosparam file="$(find color_detection)/config/yellowParams.yaml" command="load" />

  <node name="colorDetector" pkg="color_detection" type="colorDetector" output="screen" />

    


</launch>
